a {
  text-decoration: none;
}

/* Navbar */

.brand-name {
  color: white;
  font-size: 4rem;
}

.brand-name:hover {
  color: white;
}

.link-name {
  color: white;
}

.link-name:hover {
  color: gray;
}

.navbar-container {
  padding: 20px 40px;
}

/* Main Page */

.article-category {
  font-size: small;
}

.article-date {
  font-style: italic;
  font-size: small;
}

.article-item {
  margin: 2rem 0;
  border-color:#dbd8e3;
  border-style: none none dashed none;
}

.article-name {
  color: #222831;
}

.article-name:hover {
  color: black;
}

/* Pagination */

.pagination > li > a
{
    background-color: #222831;
    color: white;
}

.pagination > li > a:hover {
  background-color: white;
  color: #222831;
}

.pagination-button {
  margin-top: 40px;
}

/* Login and Contact Page */

.login-button, .contact-button {
  margin-top: 2rem;
}

.login-title, .contact-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.login-username-div {
  margin-bottom: 2rem;
}

.contact-div{
  margin-top: 1rem;
}

/* ??? */

ul#index {
  padding-left: 0;
  list-style-type: none;
}

#message {
  height: 10em;
}